.th {
  text-align: right;
  padding: .5em;
  font-size: .9em;
  width: 30%;
  background: rgba(30,30,30,0.1);
  border-bottom: 1px solid black;
}

.td {
  font-size: .9em;
  padding: .75em;
  border-bottom: 1px solid black;
}

.tr:last-child th, .tr:last-child td {
  border-bottom: none;
}

.table {
  border-collapse: collapse;
}