@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,400&family=DM+Sans:wght@400;700&display=swap');

body {
  background: #FAFAFA;
  font-family: "DM Sans";
}

/* Header */
header {
  @apply bg-white;
  @apply border-b-1;
  @apply border-black;
  @apply pl-5;
  @apply pr-7;
  @apply md:px-5;
}

header > .container {
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply mx-auto;
  @apply max-w-screen-xl;
}

header h1, footer h1 {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  @apply text-base;
  @apply md:text-xl;
  line-height: 21px;
  @apply md:leading-7;
  @apply w-3/4;
  @apply md:w-auto;
}

/* Nav */

nav {
  @apply h-15;
  @apply md:h-22;
  @apply flex;
  @apply items-center;
}

nav > ul {
  @apply hidden;
  @apply md:flex;
  @apply items-center;
  gap: 24px;
}

.nav-here {
  border:1px solid #212529;
  background: none;
  @apply font-normal;
}

nav li {
  @apply bg-ternblue;
  padding: 0px 30px;
  line-height: 40px;
  border-radius: 100px;
  font-family: 'DM Mono';
  font-weight: 400;
  font-size: 14px;
  @apply hover:cursor-pointer;
}

nav li:hover {
  background: #EAFFFE;
}

/* Main */
main {
  @apply mx-auto;
  @apply max-w-screen-xl;
  @apply pl-5;
  @apply pr-7;
  @apply md:px-5;
  @apply pt-5;
  @apply md:pt-20;
  @apply pb-20;
}

main a {
  color: #2965FF;
  @apply underline;
}

main h2 {
  @apply text-lgish;
  @apply md:text-xl;
  @apply leading-6;
  @apply font-medium;
}

/* Footer */
footer {
  @apply border-t-1;
  @apply border-black;
  @apply bg-white;
  @apply grid-cols-2;
  @apply pl-5;
  @apply pr-7;
  @apply md:px-5;
  @apply pt-12;
}

footer button {
  @apply mt-4;
  @apply md:mt-7;
  padding: 0px 30px;
  line-height: 40px;
  border-radius: 100px;
  @apply bg-mustard;
  font-family: "DM Mono";
  @apply text-sm;
  @apply leading-10;
}

footer button:hover {
  background: #FFE5BE;
}

footer > .container {
  @apply flex;
  @apply flex-col-reverse;
  @apply md:flex;
  @apply md:flex-row;
  @apply md:items-start;
  @apply md:justify-between;
  @apply md:mx-auto;
  @apply md:max-w-screen-xl;
}

footer > p {
  @apply pt-10;
  @apply md:pt-7;
  @apply pb-6;
  @apply md:pb-16;
  font-family: 'DM Mono';
}

.footer-nav {
  @apply flex;
  @apply flex-col;
  @apply md:grid;
  @apply md:grid-cols-2;
  @apply md:grid-rows-3;
  @apply md:grid-flow-col;
}

footer span, .mobile-nav-item {
  @apply text-xl;
  @apply md:text-4xl;
  @apply leading-10;
  @apply md:leading-13;
  @apply underline;
  @apply font-medium;
  color: #212529;
}

/* submit a tip */

.submit-form div {
  @apply flex;
  @apply flex-col;
  @apply mb-6;
}

.submit-form label {
  background: #D7E2FF;
  @apply text-sm;
  @apply md:text-lg;
  @apply leading-6;
  @apply py-2.5;
  @apply px-3;
  @apply md:px-6;
}

.submit-form input {
  color: #616161;
  @apply text-sm;
  @apply md:text-base;
  @apply leading-6;
  @apply px-3;
  @apply md:px-5;
  @apply py-5;
  @apply border-2;
  @apply file:rounded-full;
  @apply file:bg-uploadblue;
  @apply file:border-0;
  @apply file:font-dmmono;
  @apply file:px-6;
  @apply file:py-2.5;
  @apply file:text-sm;
  border-color: #D7E2FF;
}

.submit-form textarea {
  @apply py-3;
  @apply text-base;
  @apply leading-6;
  @apply border-2;
  border-color: #D7E2FF;
  color: #616161;
  @apply px-5;
}

.submit-form button {
  @apply rounded-lg;
  background: #A2EDE1;
  @apply py-2.5;
  @apply px-10;
  @apply w-auto;
  @apply text-right;
  @apply mr-0;
  @apply ml-auto;
  @apply text-sm;
  @apply md:text-lg;
  @apply leading-9;
  @apply md:leading-10;
  font-family: "DM Mono";
  @apply font-medium;
}

.submit-form button:hover {
  background: #DEFFFD;
}